body {
    background-color: #101010;
    color: #ffffff;
    font-size: 13px;
    font-family: Roboto, Arial, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

#loader, #controls {
    position: fixed;
    z-index: 20;
    left: 0;
    right: 0;
    padding: 8px 20px;
    background-color: #5050A0;
}

#loader {
    top: 0;
}

#controls {
    bottom: 0;
    display: flex;
    justify-content: space-between;
}

#loader input {
    width: 100%;
}

#error {
    display: none;
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 8px 20px;
    background-color: #803030;

    &.show {
        display: block;
    }
}

#chat {
    margin: 36px 0;
    padding: 8px 20px;
}

.item {
    padding-bottom: 2px;
    margin-top: 2px;
    display: flex;
    align-items: flex-start;
    column-gap: 5px;
    border-bottom: 1px solid #303030;

    &:last-child {
        border-bottom: 0 none;
    }
}

.time {
    display: block;
    padding: 2px 5px;
    width: 55px;
    min-height: 20px;
    line-height: 20px;
    color: #a0a0a0;
    text-align: right;
}

.user {
    display: block;
    padding: 2px 5px;
    width: 200px;
    min-height: 20px;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: bold;
    color: #c0c0c0;

    &.mem {
        color: #2ba640;
    }
    &.mod {
        color: #5e84f1;
    }
    &.owner {
        background-color: #ffd600;
        color: #0f0f0f;
        border-radius: 6px;
    }
}

.msg {
    display: block;
    padding: 2px 5px;
    min-height: 20px;
    line-height: 20px;

    .money, .mem-length, .gift-icon {
        display: inline-block;
        font-weight: bold;
        padding: 2px 5px;
        margin-right: 8px;
        border-radius: 6px;
    }

    &.superchat, &.super-sticker {
        padding: 0 5px 0 0;
        border-radius: 6px;

        .text {
            display: inline-block;
            padding: 2px 0;
        }

        &.blue {
            background-color: rgb(21, 101, 192);
            color: #0f0f0f;

            .money {
                background-color: rgb(21, 101, 192);
            }
        }
        &.light-blue {
            background-color: rgb(0, 229, 255);
            color: #0f0f0f;

            .money {
                background-color: rgb(0, 184, 212);
            }
        }
        &.light-green {
            background-color: rgb(29, 233, 182);
            color: #0f0f0f;

            .money {
                background-color: rgb(0, 191, 165);
            }
        }
        &.yellow {
            background-color: rgb(255, 202, 40);
            color: #0f0f0f;

            .money {
                background-color: rgb(255, 179, 0);
            }
        }
        &.orange {
            background-color: rgb(245, 124, 0);
            color: #0f0f0f;

            .money {
                background-color: rgb(230, 81, 0);
            }
        }
        &.pink {
            background-color: rgb(233, 30, 99);
            color: #0f0f0f;

            .money {
                background-color: rgb(194, 24, 91);
            }
        }
        &.red {
            background-color: rgb(230, 33, 23);
            color: #0f0f0f;

            .money {
                background-color: rgb(208, 0, 0);
            }
        }
        &.unknown {
            background-color: rgb(200, 200, 200);
            color: #0f0f0f;

            .money {
                background-color: rgb(170, 170, 170);
            }
        }
    }

    &.system-message {
        font-style: italic;
    }

    &.membership-join {
        background-color: #0a8043;
        border-radius: 6px;
    }

    &.membership-message {
        background-color: #0f9d58;
        padding: 0 5px 0 0;
        border-radius: 6px;

        .mem-length {
            background-color: #0a8043;
        }
    }

    &.membership-received {
        color: #a0a0a0;
    }

    &.membership-gift {
        background-color: #0f9d58;
        padding: 0 5px 0 0;
        border-radius: 6px;

        .gift-icon {
            font-style: normal;
            background-color: #0a8043;
        }
    }

    .emoji {
        width: 20px;
        height: 20px;
        vertical-align: top;
    }

    .sticker {
        width: 36px;
        height: 36px;
        vertical-align: top;
    }
}

#stats-shade {
    display: none;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
#stats {
    display: none;
    position: absolute;
    z-index: 10;
    top: 80px;
    width: 340px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 20px 60px;
    background-color: #1c1c4d;
    border: solid 1px #5d5db3;
    border-radius: 8px;
}
#stats.filtered {
    width: 460px;
}
#close-stats {
    position: absolute;
    top: 18px;
    right: 18px;
    font-size: 16px;
}
#stats h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
}
#stats h2 .label {
    display: inline-block;
    width: 220px;
}
#stats h2 .value {
    display: none;
    width: 120px;
}
#stats.filtered h2 .value {
    display: inline-block;
}

#stats .stats-block {
    width: 100%;
    margin-bottom: 20px;
}
#stats #currency-stats-head.stats-block {
    margin-bottom: 0;
}
#stats .stats-row {
    padding: 4px 0;
    border-bottom: 1px solid #3c3c81;
}
#stats .stats-row:last-child {
    border-bottom: none;
}
#currency-stats-body .stats-row:first-child {
    border-top: 1px solid #3c3c81;
}
#stats .stats-block .label {
    display: inline-block;
    font-weight: bold;
    width: 220px;
    color: #d0d0ff;
}
#stats .stats-block .value {
    display: inline-block;
    width: 120px;
}
#stats .stats-block .value.filtered {
    display: none;
}
#stats.filtered .stats-block .value.filtered {
    display: inline-block;
}
#stats .stats-block .value button {
    display: inline-block;
    padding: 0 6px;
    margin: -2px 0;
}
#stats .real-currency {
    display: inline-block;
    font-weight: normal;
    font-size: 10px;
    color: #d0d0ff;
    padding-left: 10px;
}
#stats .footnote {
    font-size: 11px;
    color: #d0d0ff;
    margin-bottom: 6px;
}
